openapi: 3.1.1
info:
  title: mailReceipt
  description: A simple API for tracking email opens and link clicks in emails
  version: 0.1.0
  contact:
    name: spacefall
    url: https://github.com/spacefall/mailReceipt
servers:
  - url: https://mailreceipt.5822.it
    description: Temporary server
tags:
  - name: Tracking
    description: Email tracking operations
paths:
  /track:
    post:
      summary: Create a new tracking record
      description: Creates a new tracking record for an email
      tags:
        - tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the tracking record
                email:
                  type: string
                  format: email
                  description: Email address for tracking notifications (optional)
      responses:
        '200':
          description: Successful creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackInfo'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /track/{id}:
    delete:
      summary: Delete a tracking record
      description: Removes tracking record and associated events for a specific ID
      tags:
        - tracking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tracking ID (UUID)
      responses:
        '204':
          description: Tracking record successfully deleted
        '404':
          description: Tracking ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
    get:
      summary: Get tracking information
      description: Returns tracking information for a specific ID, including pixel and URL tracking events
      tags:
        - tracking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tracking ID (UUID v4)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackInfo'
        '404':
          description: Tracking ID not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /track/{id}/pixel:
    get:
      summary: Track email open via pixel
      description: Logs the email open event, returns a 1x1 transparent pixel gif and sends a notification email.
      tags:
        - tracking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tracking ID (UUID)
      responses:
        '200':
          description: 1x1 transparent pixel image
          content:
            image/gif:
              schema:
                type: binary
                format: string
  
  /track/{id}/url/{url}:
    get:
      summary: Track URL click and redirect
      description: Logs the URL click event, redirects to the target URL and sends a notification email.
      operationId: urlTrack
      tags:
        - tracking
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Tracking ID (UUID)
        - name: url
          in: path
          required: true
          schema:
            type: string
            format: base64url
          description: Base64URL encoded URL to redirect to
      responses:
        '302':
          description: Redirect to the target URL
        '500':
          description: URL is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TrackInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Tracking ID
        name:
          type: string
          description: Name of the tracking record
        email:
          type: string
          format: email
          description: Recipient email address
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        created_by:
          type: string
          description: Creator identifier
        pixel_events:
          type: array
          items:
            $ref: '#/components/schemas/TrackData'
          description: List of tracked email opens via pixel
        url_events:
          type: array
          items:
            $ref: '#/components/schemas/TrackData'
          description: List of tracked URL clicks
    
    TrackData:
      type: object
      properties:
        ip:
          type: string
          description: IP address of the client
        user-agent:
          type: string
          description: User agent of the client
        url:
          type: string
          description: URL that was clicked (only for url_events)
        timestamp:
          type: string
          format: date-time
          description: When the event occurred
    
    Error:
      type: object
      properties:
        code:
          type: integer
          description: HTTP status code
        msg:
          type: string
          description: Error message